@use 'variables' as *;
@use 'reset';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: $max-content-width;
  margin: 0 auto;
  background-color: $color-bg;
  position: relative;
}
